################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExternalLibraries
/packages
/DataGeek.Web/bin
/DataGeek.Web/obj/Debug
