<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".xls" allowed="false" />
                    <add fileExtension=".xlsx" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
      <authorization>
        <allow roles="db_GPR"/>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
</configuration>
