<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Connection Strings-->
  <connectionStrings>
    <clear />
    <add name="dashboardlocal" connectionString="Data Source=127.0.0.1; Database=dashboard; User Id=root; password=@eSP4JaKusP*; Connection Timeout=60" providerName="MySql.Data.MySqlClient" />
    <add name="dashboardlocalalt" connectionString="Data Source=127.0.0.1; Database=dashboarddev30.05.18; User Id=root; password=@eSP4JaKusP*; Connection Timeout=60" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="no-reply-password" value="TaSta2eg" />
    <add key="editorial-no-reply-password" value="prajAJe4" />
    <add key="finance-no-reply-password" value="p5acabET" />
    <add key="MailChimpApiKey" value="f5427bd365e4d5e9cf65fef436db6b71-us13" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <profile />
    <!--Key for password encryption-->
    <machineKey validationKey="148FE5D802A436A436405FACBF4D9189099C388267055ABA369FD44E762D55AE0CF87B5DB35B3168ADF69ADC1A280157707C7439AF943392838ADA8065E4EFDB" decryptionKey="F11B8243A011950AC1117D4DA5C7496326E68178CFC504D5F16619BEB8C511C0" validation="SHA1" decryption="AES" />
    <!--Globalization-->
    <globalization culture="en-GB" />
    <!--Session Settings-->
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    <!--Cookie Settings-->
    <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true" />
    <!--Custom Errors-->
    <customErrors defaultRedirect="~/Oops.aspx" mode="Off">
      <error redirect="~/404.aspx" statusCode="404" />
    </customErrors>
    <!--Execution Timeout-->
    <httpRuntime executionTimeout="300" />
    <!--Authentication-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" timeout="180" slidingExpiration="true" cookieless="UseCookies" />
    </authentication>
    <!--MySQL Role Provider-->
    <roleManager defaultProvider="MySQLRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="dashboard" connectionStringName="dashboardlocal" autogenerateschema="True" />
      </providers>
    </roleManager>
    <!--MySQL Membership Provider-->
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <clear />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="dashboard" connectionStringName="dashboardlocal" autogenerateschema="True" enablePasswordRetrieval="True" enablePasswordReset="True" requiresQuestionAndAnswer="False" requiresUniqueEmail="False" passwordFormat="Encrypted" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <!--GAC Assemblies-->
    <!--WindowsBase needed for System.IO.Packaging.Package-->
    <compilation debug="true" batch="false" targetFramework="4.6.1">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!-- for IIS versions below 7 and Classic Pipeline mode -->
    <httpHandlers>
      <!-- This is the primary handler used to fetch most of the needed resources -->
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <!-- Only needed for RadSpell and RadEditor's spell checking -->
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <!-- Only needed for controls that have complex dialogs like RadEditor, RadImageEditor -->
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <!-- Only needed if RadAsyncUpload, RadProgressArea/RadProgressManager or the obsolete RadUpload are used -->
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <!-- Only needed if the obsolete RadChart is used -->
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
    </httpHandlers>
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <!--C# Configuration-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- Only needed for RadSpell and RadEditor's spell checking -->
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <!-- Only needed for controls that have complex dialogs like RadEditor, RadImageEditor -->
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <!-- Only needed if RadAsyncUpload, RadProgressArea/RadProgressManager or the obsolete RadUpload are used -->
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode" />
      <!-- This is the primary handler used to fetch most of the needed resources -->
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode" />
      <!-- Only needed if the obsolete RadChart control is used -->
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
    </handlers>
    <!--Request Filtering-->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <clear />
          <add segment="web.config" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".txt" allowed="false" />
        </fileExtensions>
        <denyUrlSequences>
          <add sequence="\" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--Mail Settings for System.Net.Mail-->
  <system.net>
    <mailSettings>
      <smtp from="no-reply@bizclikmedia.com">
        <network host="smtp.gmail.com" password="TaSta2eg" port="587" userName="no-reply@bizclikmedia.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.24.1" newVersion="1.5.24.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Flow" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.1.213.40" newVersion="2017.1.213.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Core" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.1.213.40" newVersion="2017.1.213.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.34.0.0" newVersion="1.34.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.34.0.0" newVersion="1.34.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>