<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings />
    <connectionStrings />
    <system.web>
      <authorization>
        <allow roles="db_TrainingAdmin" />
        <deny users="*" />
        <deny users="?" />
      </authorization>
      <httpRuntime executionTimeout="180" maxRequestLength="11480" />
            <!-- - ~10 mb limit-->
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".xlsx" allowed="false" />
                    <add fileExtension=".ppt" allowed="false" />
                    <add fileExtension=".pptx" allowed="false" />
                    <add fileExtension=".xls" allowed="false" />
                    <add fileExtension=".doc" allowed="false" />
                    <add fileExtension=".pdf" allowed="false" />
                    <add fileExtension=".htm" allowed="false" />
                    <add fileExtension=".html" allowed="false" />
                    <add fileExtension=".docx" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>

