<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXl+u/dHuI0ahwWThLV5f6wQAAAACAAAAAAADZgAAwAAAABAAAAAC833+JbmHRVCe5/gKY0lkAAAAAASAAACgAAAAEAAAAHci57jNBkWKKaviG/OFhWVYAQAA3ALjYjZCtc1eQT8WkF6/Kj3jrTikrkZ6eG/N9BfOWyZuUzynIRQHOH0BT6yQW+MlNx/HlRp/j7fJ2RrUynF5Qk/xT6YoAIZIejhKjjumx8DJStOCOqpTFh/KkvsVhquouAQI0Ft+tEc2xpg7CILtrKBR0O1JQkBgaigBM3794KepHJXt8VBD+dXLm8RrBpxMYdUxu821KsxlJBqrTPpkvCIvfxHNb/M24vRD+5Vd3K+fP1EDmINoZphFLIrizVSyo4aAimqgIzjbrRHjMw8e4Xkrqlb2x3QcBonyc4xa7stAAyjZiSQ7kBaAwPHZNNJhMcQvA4X0Zn05OBJWW+n5d7w1QVkuEUgHRvCV6iSuLFsk19ApZ6Q3KE/aO50TBHfCVyVoDVpAFW2ohO77+NGBnm3Z4hF4ap5zY8S5uV59GupsxYtWXjmhs7AOJbBcrbjqZAjyaJDYa60UAAAA7HQHeMqkgjIMQRtReys8cZPUVFo=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <authorization>
      <allow roles="db_Admin"/>
      <allow users="mdade"/>
      <deny users="*"/>
      <deny users="?"/>
    </authorization>
  </system.web>
</configuration>

